//fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons");

//vuetify
@import '~vuetify/dist/vuetify.min.css';

.rounded {
    border-radius: 10px !important;
}